/* Table Styles (Consolidated)
================================ */

.maintabletemplate {
	margin-bottom: 10px;
}

.maintabletemplate table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #999;
	empty-cells: show;
	width: 100%;
	margin-top: 11px;
	font-size: 0.92em;
}

table.tablewidth1,
table.tablewidth100,
.maintabletemplate table.tablewidth1,
.maintabletemplate table.tablewidth100 {
	width: 100%;
}

table.tablewidth2,
table.tablewidth75,
.maintabletemplate table.tablewidth2,
.maintabletemplate table.tablewidth75 {
	width: 75%;
}

table.tablewidth3,
table.tablewidth50,
.maintabletemplate table.tablewidth3,
.maintabletemplate table.tablewidth50 {
	width:50%;
}

table.tablewidth4,
table.tablewidth25,
.maintabletemplate table.tablewidth4,
.maintabletemplate table.tablewidth25 {
	width:25%;
}

.maintabletemplate th {
	border:	1px solid #49423F;					/* safety: all lines were #999; */
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	background-color: #7F6E6A;				/* safety: pre-redesign color: #727266; */
	color: #fff;
	text-transform: uppercase;
	padding: 8px;
	text-align: left;
}
	
.maintabletemplate table tr td,
.maintabletemplate table tr.row td,
.maintabletemplate table tr.alt-row td, 
.maintabletemplate table tr.gray-row td,
.maintabletemplate table tr.white-row td {
	border: 1px solid #49423F;
	padding: 8px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333333;
}

.maintabletemplate table tr td.alt-row,
.maintabletemplate table tr td.white-row {
	background-color: #fff;
}

.maintabletemplate table tr.row td,
.maintabletemplate table tr.gray-row td{
	background-color: #E5E0DB;				/* safety: pre-redesign color: #e2e1d9; */
}

.maintabletemplate,
.maintabletemplate p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.maintabletemplate ul li,
.maintabletemplate ol li {
	margin: 0 5px 0 15px;
	padding: 0;
}

.maintabletemplate ul.nobullet {
	list-style-type: none;
}